body {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1 {
    font-size:16px;
}

.container .item {
    font-size:12px;
    padding: 10px;
    cursor: pointer;
    border-bottom: solid 1px #cccccc;
}
.container .revision {
    display:none
}
.container div:hover {
    background-color: #eeeeee;
}