.container .item {
    font-size:12px;
    padding: 10px;
    cursor: pointer;
    border-bottom: solid 1px #cccccc;
}
.container .revision {
    display:none;
    margin: 10px 0
}
.container div:hover {
    background-color: #eeeeee;
}